<div *ngFor="let category of getCategories()">
    <h2 class="text-xl font-semibold capitalize">{{ category }}</h2>
  
    <div *ngFor="let question of questionsByCategory[category]">
      <label class="block font-medium mt-4 mb-1">{{ question.text }}</label>
  
      <div *ngFor="let choice of question.choices">
        <label>
          <input 
            type="radio" 
            [name]="question.id" 
            [value]="choice.value" 
            [(ngModel)]="assessmentAnswers[question.id]"
          />
          {{ choice.label }}
        </label>
      </div>
    </div>
  </div>
  
  <button (click)="submit()" class="mt-6 bg-blue-600 text-white px-4 py-2 rounded">Submit</button>
  