.login-background {
    background-image: url('https://assets-cdn.kahoot.it/controller/v2/assets/anonymous_purple-CthmaqOo.png?auto=webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; // Prevent scrolling
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
//   .details-container {
//     border: 5px solid white;
//   }
  